/* body {
  width: 100%;
} */

.home-body {
  background-color: black;
  width: 100%;
}

.home-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
